{% extends 'pets.html' %}

{% block 'content' %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" style="margin-left: calc(35%);"  id="staticBackdropLabel">!!!WARNING!!!</h1>
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Would you like to delete the pet record?
      </div>
      <div class="modal-footer">
          <form action="{% url 'pets_app_name:pet_delete_name' form.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="Yes">
          </form>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end">
  <div class="d-flex flex-column me-2">
    <div class="d-flex">
      <img class="img-thumbnail" src="{{form.pet_image.url}}" alt="Image Not Found">
    </div>
    <div class="d-flex my-2">
      <div>
        <div class="fw-bold my-1">Name</div>
        <div class="fw-bold my-1">Age</div>
        <div class="fw-bold my-1">Gender</div>
        <div class="fw-bold my-1">Weight</div>
        <div class="fw-bold my-1">Owner</div>
        <div class="fw-bold my-1">Pet Type</div>
      </div>
      <div class="ps-3">
        <div class="my-1">{{form.name | capfirst}}</div>
        <div class="my-1">{{form.age}}</div>
        <div class="my-1">{{form.gender}}</div>
        <div class="my-1">{{form.weight}}</div>
        <div class="my-1">{{form.owner}}</div>
        <div class="my-1">{{form.pet_type}}</div>
      </div>      
    </div>
    {% if perms.pets_app.change_form %}
      <div class="btn-group my-2">
          <a href="#" class="btn btn-danger btn-sm text-decoration-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a>
          <a class="btn btn-info btn-sm text-decoration-none" href="{% url 'pets_app_name:pet_update_name' form.id %}?next={{request.path}}">Update</a>
      </div>
    {% endif %}

{% endblock %}